<footer class="grid">
    <div class="s-12 l-3 m-row-3 margin-bottom image-wrapper">
        <f:cObject typoscriptObjectPath="lib.footerColumnLeft" />
    </div>
    <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
        <f:cObject typoscriptObjectPath="lib.footerColumnCenter1" />
    </div>
     
    <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
        <f:cObject typoscriptObjectPath="lib.footerColumnCenter2" />
    </div>
     
    <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
        <f:cObject typoscriptObjectPath="lib.footerColumnRight" />
    </div>
     
    <div class="s-12 text-center margin-bottom">
       <f:cObject typoscriptObjectPath="lib.footerCopyRight" />
    </div>
</footer>