<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:asset.css identifier="link-section">
        .link-section a { pointer-events: none; }
        .link-section.grid .s-12 { grid-column: span 12; }
        .link-section .padding-2x { padding: 2.5rem !important; }
        .link-section .l-3, .grid .l-3.center { width: 25%; }
        .link-section .l-3, .grid .l-3.center { padding: 0.625rem 1.25rem;text-align: center;margin: auto;float: none;display: block !important; }
    </f:asset.css>

    <f:if condition="{data.header} && {data.header_link}">
        <section class="grid margin-bottom link-section">
            <div class="s-12 padding-2x background-dark">
                <f:variable name="buttonStyle" value="background-color: {data.color1} !important;" />
                <f:link.typolink parameter="{data.header_link}" class="s-12 m-9 l-3 center button text-size-20 text-white" additionalAttributes="{style=buttonStyle}">
                    {data.header}
                </f:link.typolink>
            </div>
        </section>
    </f:if>
</html>